<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321050375199-7659lpf87t47bnkfkfdcub5p62t89hrk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321050375199-7659lpf87t47bnkfkfdcub5p62t89hrk</string>
	<key>API_KEY</key>
	<string>AIzaSyBwNGbEfGh6wh55Tf1Xl8Zwb_oQ9r0XlBE</string>
	<key>GCM_SENDER_ID</key>
	<string>321050375199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.bai03</string>
	<key>PROJECT_ID</key>
	<string>khoahocreactnativeluvina</string>
	<key>STORAGE_BUCKET</key>
	<string>khoahocreactnativeluvina.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321050375199:ios:c3ad5d4903f280cd8e512a</string>
	<key>DATABASE_URL</key>
	<string>https://khoahocreactnativeluvina.firebaseio.com</string>
</dict>
</plist>